name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

    - uses: hexlet-components/hello-from-hexlet-action@release

    - uses: actions/checkout@v4

    - name: run setup
      run: make setup

    - name: run tests
      run: make test

    - name: Run linter
      run: make lint

